.Home {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.chart {
    display: block;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.bar-chart,
.pie-chart {
    width: fit-content;
    background-color: white;
    border-radius: 0.5rem;

}

.line-chart {
    background-color: white;
    border-radius: 0.5rem;
}

.s-chart {
    display: flex;
    margin-bottom: 30px;
    gap: 30px;
}

/* .filter-home{
    display: flex;
    gap: 20px;
}
.filter-wrap-home{
    margin-top: 10px;
} */
@media screen and (max-width: 600px) {

    .s-chart,
    .chart {
        display: block;

    }

    .pie-chart {
        margin-top: 30px;
    }
}