Flask==3.0.2
Flask-CORS==4.0.0
opencv-python==4.9.0.80
pillow==10.2.0
deepface==0.0.89
numpy==1.21.2
mysql-connector-python==8.3.0
opencv-contrib-python==4.9.0.80
pyttsx3==2.90
Werkzeug==3.0.1
Flask-MySQLdb==2.0.0
python-dotenv==1.0.1